<h1>All Your Sightings</h1>

<ul>
  <% @sightings.each do |sighting| %>
    <li><a href="/sightings/<%= sighting.id %>">
      <%= Species.find(sighting.species_id).name %>
      -
      <%= Region.find(sighting.regions_id).name %>
    </a> </li>
  <% end %>
</ul>

<a href="/species/new">Make a New Species</a> | <a href="/regions/new">Make a New Region</a> | <a href="/sightings/new">Make a New Sighting</a> | <a href="/sightings/search">Search for Sighting</a>
