<h3><%= @species_name %> - <%= @region_name %></h3>
<p>
  <a href="/sightings">Go Back</a> |
  <a href="/sightings/<%= @sighting.id %>/edit">Edit</a> |
  <a href="/sightings/<%= @sighting.id %>"
    data-confirm="Are you sure?"
    data-method="delete"
    rel="nofollow">Delete</a>
</p>
