<h1>Sighting saved!</h1>

<p>Your sighting was successfully saved.</p>

<p><a href="/sightings/<%= @sighting.id %>"><%= @species.name %> - <%= @region.name %></a></p>

<p><a href="/sightings">Return to Sighting List</a></p>
