<h1>Species saved!</h1>

<p>Your species was successfully saved.</p>

<p><a href="/species/<%= @species.id %>">View <%= @species.name %></a></p>

<p><a href="/species">Return to species listing</a></p>
